body {
    background-color: #343a40;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    color: #343a40;
    padding: 1rem;
    text-align: center;
}

.animated {
    width: 100px;
    height: 100px;
    background-image: url('icon.png');
    background-size: cover;
    position: absolute;
}
.left-animated {
    transform: translateX(0);
}
.right-animated {
    transform: translateX(4%);
}

main {
    padding: 2rem;
}

.site-frame {
    border: 15px solid #343a40; 
    padding: 1rem; 
    text-align: center; 
    background-color:  #ffffff; 
    color: #343a40; 
}

.footer {
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; 
}

.info{
    display: flex;
    align-items: center;
    text-align: center;
}

.info img{
    width: 300px;
    height: 500px;
}

.photo{
    margin-right: 20px;
}

.photo2 {
    margin-left: 20px
}

img {
    width: 350px;
    height: 400px;
}

.custom-logo {
    max-width: 75px;
    height: auto;
}

#slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #616161;
    transition: width 0.3s;
}

.sec p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}